<style>
    table,
    td,
    th {
        border: 1px solid black;
        border-collapse: separate;
    }
</style>
<div class="container-fluid" style="text-align: center;">
    <div class="row">
        <h2 style="text-align: center;">Employee List</h2>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Designation</th>
                <th>Hire Date</th>
                <th>Manager ID</th>
                <th>Salary</th>
                <th>Commission</th>
                <th>Department Number</th>
            </tr>
            <tr *ngFor="let temp of employees">
                <td>{{temp.empNo}}</td>
                <td>{{temp.eName}}</td>
                <td>{{temp.job}}</td>
                <td>{{temp.hireDate}}</td>
                <td>{{temp.managerId}}</td>
                <td>{{temp.salary}}</td>
                <td>{{temp.commission}}</td>
                <td>{{temp.deptNo}}</td>

            </tr>
        </table>
    </div>
</div>
<div class="container" style="margin-top: 30px;">
    <h2 style="text-align: center;">Data Entry of Employees</h2>
    <form #empData="ngForm" (ngSubmit)="onSubmit()" style="margin-left: 40%;">
        <div class="row">
            <div class="col-sm-3"><label for="">Employee Id</label></div>
            <div class="col-sm-6"><input type="text" name="empNo" id="" [(ngModel)]="formModel.empNo"></div>
        </div>&nbsp;
        <div class="row">
            <div class="col-sm-3"><label for="">Employee Name</label></div>
            <div class="col-sm-6"><input type="text" name="eName" id="" [(ngModel)]="formModel.eName"></div>
        </div>&nbsp;
        <div class="row">
            <div class="col-sm-3"><label for="">Designation</label></div>
            <div class="col-sm-6"><input type="text" name="job" id="" [(ngModel)]="formModel.job"></div>
        </div>&nbsp;
        <div class="row">
            <div class="col-sm-3"><label for="">Hire Date</label></div>
            <div class="col-sm-6"><input type="date" name="hiredate" id="" [(ngModel)]="formModel.hireDate"></div>
        </div>&nbsp;
        <div class="row">
            <div class="col-sm-3"><label for="">Manager Id</label></div>
            <div class="col-sm-6"><input type="text" name="managerId" id="" [(ngModel)]="formModel.managerId"></div>
        </div>&nbsp;
        <div class="row">
            <div class="col-sm-3"><label for="">Salary</label></div>
            <div class="col-sm-6"><input type="text" name="salary" id="" [(ngModel)]="formModel.salary"></div>
        </div>&nbsp;
        <div class="row">
            <div class="col-sm-3"><label for="">Commission</label></div>
            <div class="col-sm-6"><input type="text" name="commission" id="" [(ngModel)]="formModel.commission"></div>
        </div>&nbsp;
        <div class="row">
            <div class="col-sm-3"><label for="">Department Id</label></div>
            <div class="col-sm-6"><input type="text" name="deptNo" id="" [(ngModel)]="formModel.deptNo"></div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-8"><input type="submit" value="Submit" name="submit" class="btn btn-primary"></div>
        </div>
    </form>
</div>