<h1 style="margin-left: 630px;">Sales Team List</h1>

<style>
    table,td,th {
        border: 1px;
    }
</style>
    <div class="container-fluid">
        <table class="table table-bordered table-striped" style="margin: top 40%;">
            <tr>
                <th scope="col"> First Name</th>
                <th scope="col"> Last Name</th>
                <th scope="col"> Email</th>
                <th scope="col"> Salary</th>
                <th scope="col"> Sales Volume</th>
            </tr>

            <tr *ngFor="let temp of salesPersonsModel" [ngClass]="{'metQuote':temp.salary>=20000,
                     'nonMetQuote':temp.salary<20000}"  >
                <td>{{temp.firstName}}</td>
                <td>{{temp.lastName}}</td>
                <td>{{temp.email}}</td>
                <td>{{temp.salary}}</td>
                <td>{{temp.salesVolume}}</td>
                <td>
                    <div * ngIF="temp.salary>20000;else elseBlock">YES</div>
                    <ng-template #elseBlock>NO</ng-template>
                </td>
            </tr>
        </table>
    </div>
        <div class="city">
        <form #salesperson="ngForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-3"><label>First Name</label></div>
                <div class="col-sm-6"><input type="text" name="firstName" [(ngModel)]="formModel.firstName"></div>
            </div>
            <div class="row">
                <div class="col-sm-3"><label>Last Name</label></div>
                <div class="col-sm-6"><input type="text" name="lastName" [(ngModel)]="formModel.lastName"></div>
            </div>
            <div class="row">
                <div class="col-sm-3"><label>Email</label></div>
                <div class="col-sm-6"><input type="email" name="email" [(ngModel)]="formModel.email"></div>
            </div>
            <div class="row">
                <div class="col-sm-3"><label>Salary</label></div>
                <div class="col-sm-6"><input type="number" name="salary" [(ngModel)]="formModel.salary"></div>
            </div>
            <div class="row">
                <div class="col-sm-3"><label>Sales Volume</label></div>
                <div class="col-sm-6"><input type="text" name="salesVolume" [(ngModel)]="formModel.salesVolume"></div>
            </div>
            &nbsp;
            <div class="row">
                <div class="col-sm-6"><input type="submit" value="Submit" name="submit" class="btn btn-primary"></div>
            </div>
        </form>
    </div>