<!-- <p>welcome works!</p> -->
<style>
.button {
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
  }
  
  .button2 {
    background-color: white; 
    color: black; 
  }
  
</style>
<div class="container" style="margin-left: 30%; margin: 30px; margin-top: 10%;"><form action="">
    <div class="row">
        <div class="button button1" style="margin-left: 35%;"> <button (click) = "employeeDetails()">Employees</button></div>
        <div class="button button2"> <button (click) = "departmentDetails()">Departments</button></div>
    </div>
</form>
</div>
